<div class="container">
  <div class="row align-items-center room-box-container">
    <div class="col"></div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="../../assets/joken-title.gif" alt="Card image cap">
          <h3 class="card-title">Rooms</h3>
          <p class="card-text">Select or create a room to start playing.</p>
          /*Room list goes here*/
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>